---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div class="flex flex-col">
  <div class="text-2xl text-gray-900 font-medium">{title}</div>

  {
    description ? (
      <div class="text-xs text-gray-600 font-light">{description}</div>
    ) : null
  }
</div>
